Dear #{@user.first_name} #{@user.last_name}

Your Tour has successfully been scheduled

First name: #{@user.first_name}

Last name: #{@user.last_name}

email: #{@user.email}

Tour date: #{@user.email}

Comments: #{@user.comments}

To view and rate your Tour experience, just follow this link: #{@url}

Thanks for using the Tour Scheduler and have a great day!
